<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
        <div class="showcase">
            <h1>About <span class="green-text">Harsh's</span> Diary</h1>
            <p>I Recoed My Daily life Experiences Here</p>
            <p>Have a nice Day</p>
        </div>

        <%- include('./layout/Footer') %>