

<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
        <div class="showcase">
            <h1>This is <span class="green-text">Harsh's</span> Diary</h1>
            <p>I Record My Daily Life Here</p>
            <!-- <p><img src="logo.jpg" /></p> -->
            <a href="/diary">Open My Secrete Diary</a>
        </div>

        <%- include('./layout/Footer') %>